<a href="https://colab.research.google.com/github/PrabhaKishore/learning-ai-ml/blob/main/learning-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Learning Python..!

In [12]:
print("heelo python..!")

heelo python..!

### Python variables

In [5]:
x = 5

print(x)
print(type(x))

5
<class 'int'>

In [6]:
y = 345.908
print(y)
print(type(y))

345.908
<class 'float'>

In [10]:
str = "this is string test..!"
print(str)
print(type(str))

this is string test..!
<class 'str'>

In [13]:
bl = True
print(bl)
print(type(bl))

True
<class 'bool'>

In [18]:
myList = ['apple', 'banana', 'cherry', 'date']
print(myList[0])
print(myList[3])

print(myList[-1])
print(myList[-3])

apple
date
date
banana

In [26]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers[2:6])
print(numbers[3:5])
print(numbers[:5])
print(numbers[4:])
print(numbers[::2])
print(numbers[::4])
print(numbers[::-1])

[3, 4, 5, 6]
[4, 5]
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, 5, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

In [36]:
print(my_tuple[2])
# my_tuple[0] = 7 -- error

3

In [40]:
mutable_tuple = ([1,2], 5, 6)
print(mutable_tuple)
mutable_tuple[0].append(7)
print(mutable_tuple)

([1, 2], 5, 6)
([1, 2, 7], 5, 6)

In [43]:
tuple_unpack = (4,8,12,16)
a, b, c, d = tuple_unpack
print(f"X : {a} Y : {b} Z: {c}")

X : 4 Y : 8 Z: 12

In [45]:
rest_numbers = (9,5,2,8,4)
first, *rest = rest_numbers
print(f"first : {first}    rest : {rest}")

first : 9    rest : [5, 2, 8, 4]

In [47]:
rest_middle_numbers = (1,2,3,4,5,6,78)
first, *middle, end = rest_middle_numbers
print(f"first : {first} middle : {middle} end : {end}")

first : 1 middle : [2, 3, 4, 5, 6] end : 78

In [48]:
a, b = 1,2
b, a = a, b
print(f"a : {a}, b : {b}")

a : 2, b : 1